html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
}

/* skip: start  --------------------------------*/
.skip a {
  position: absolute;
  top: -200px;
  left: 0;
  max-width: 300px;
  background-color: #333;
  color: white;
  text-align: center;
  line-height: 30px;
}

.skip a:active,
.skip a:focus {
  top: 0;
}
/* skip: end --------------------------------*/

/* header: start --------------------------------*/
header {
  border-bottom: 1px solid #eee;
}

.header-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 4rem);
  max-width: 128rem;
  margin: 0 auto;
  padding: 28px 0 28px 0;
  box-sizing: border-box;
}
.header-logo {
  max-width: 50%;
}
.header-logo a {
  display: block;
}
.select-lang {
  position: relative;
  border-collapse: collapse;
  text-align: center;
  font-size: 14px;
}

.lang-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 120px;
  height: 40px;
  border: 1px solid #eeeeee;
  color: #333333;
}
.lang-txt {
  position: relative;
}
.lang-txt::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -30px;
  width: 20px;
  height: 20px;
  background: url('../image/icon-lang.svg') no-repeat 0 0 / cover;
}
.lang-txt::after {
  content: '';
  display: block;
  position: absolute;
  top: 8px;
  left: 50px;
  width: 8px;
  height: 4px;
  background: url('../image/icon-arrow.png') no-repeat 0 0 / cover;
}
.lang-cont {
  display: none;
  position: absolute;
  flex-direction: column;
  gap: 5px;
  width: 120px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #eeeeee;
  background-color: #ffffff;
  color: #767676;
  text-align: center;
}

.select-lang.on .lang-cont {
  display: flex;
  z-index: 10;
}

.lang-cont .lang-items {
  width: 100%;
  padding: 4px 0;
  transition: all 0.3s;
}
.lang-cont .lang-items:hover {
  background-color: #f5f5f5;
  color: #333333;
}
.sponsor-info-btn {
  display: none;
}

.lang-cont > li{
  box-sizing: border-box;
  width: 100%;
}

.lang-items{
  display: flex;
  gap:5px;
  align-items: center;
}


.flag{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: text-bottom;
}

.ko-kr{
  background: url("/image/KR.png") no-repeat;
  background-size: 100% 100%;
}

.en {
  background: url("/image/US.png") no-repeat;
  background-size: 100% 100%;
}

.uk{
  background: url("/image/UK.png") no-repeat;
  background-size: 20px;
}

/* header: end --------------------------------*/

/* main ----------------------------------------*/
.main {
  display: flex;
  justify-content: center;
  gap: 6rem;
  width: 128rem;
  max-width: 100%;
  margin: 0 auto;
}

/* main category : start --------------------------------*/
.news-category {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 1rem 0 2rem;
}
.category-bg {
  border: 1px solid #cccccc;
  border-radius: 4rem;
  background: rgba(204, 204, 204, 0.1);
  color: #6e6e6e;
  transition: all 0.3s;
}
.category-bg:hover,
.category-bg:active,
.category-bg.on {
  border: 1px solid #fed501;
  background: #fed501;
  color: #333;
}
.category-tit {
  padding: 0.4rem 1.4rem;
  border-radius: 4rem;
  color: inherit;
  font-size: 1.4rem;
  cursor: pointer;
}
/* main category : end --------------------------------*/
/* main card : start --------------------------------*/
.news {
  position: relative;
  min-width: 518px;
  box-sizing: border-box;
  margin: 0 20px;
  padding-top: 3rem;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
}

h2 {
  color: #015bbb;
  font-size: 32px;
  font-weight: 700;
}

.search {
  position: relative;
  width: 312px;
  height: 4rem;
}
.search-label {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.search-input {
  width: 100%;
  height: 100%;
  border: 1px solid #f5f5f5;
  border-radius: 40px;
  box-sizing: border-box;
  background-color: #f5f5f5;
  text-indent: 2rem;
}
.search-input:focus {
  border-color: #015bbb;
  background: #fff;
  outline: none;
}

.search-input::placeholder {
  font-size: 14px;
  color: #000000;
  line-height: 40px;
  opacity: 0.4;
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 3px;
  right: 3px;
  width: calc(4rem - 6px);
  height: calc(4rem - 6px);
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid transparent;
  padding: 0;
}
.search-input:focus + .search-button,
.search-button:focus {
  border: 1px solid rgba(1, 91, 187, 0.3);
  background-color: rgba(1, 91, 187, 0.1);
}
.search-img {
  width: 70%;
  height: auto;
}

.updateCycle {
  color: #767676;
  font-size: 14px;
}

.news-card-list li:last-child {
  margin-bottom: 77px;
}

.news-card-list {
  display: none;
}

.news-card {
  margin-bottom: 40px;
  transition: opacity 0.2s ease-in-out;
}

.news-card:hover {
  opacity: 0.5;
}

.news-card-link {
  display: flex;
  width: 100%;
}

.card-img-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 184px;
  height: 120px;
  margin-right: 24px;
  border-radius: 20px;
  border-color: #ddd;
  box-sizing: border-box;
  background: #eee;
  flex-shrink: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-cont {
  width: calc(100% - 208px);
}

.card-tit {
  display: block;
  overflow: hidden;
  width: 100%;
  margin: 7px 0;
  font-size: 24px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-desc {
  display: -webkit-box;
  overflow: hidden;
  margin-bottom: 15px;
  font-size: 14px;
  color: #666;
  line-height: 1.6;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.card-date,
.card-source {
  font-size: 14px;
  color: #767676;
}

.card-date::after {
  content: '|';
  margin-left: 5px;
}

.button-more {
  display: none;
  width: 120px;
  height: 35px;
  margin: 0 auto 77px;
  padding-right: 20px;
  border: 1px solid #015bbb;
  border-radius: 20px;
  box-sizing: border-box;
  background: transparent url('../image/btn-more.svg') no-repeat 75% 55% / 16px;
  cursor: pointer;
  transition: all 0.3s;
}

.button-more:hover,
.button-more:active {
  background: #015bbb url('../image/btn-more-hover.svg') no-repeat 75% 55% /
    16px;
  color: #fff;
}
/* main card : end --------------------------------*/

/* aside : start --------------------------------*/
.sponsor {
  display: flex;
  flex-direction: column;
  padding: 3rem 4rem;
  background-color: #f5f5f5;
}
.sponsor h2 {
  margin-bottom: 1rem;
  font-size: 20px;
  font-weight: bold;
  color: #015bbb;
  line-height: 29px;
}
.sponsor-card {
  display: flex;
  flex-wrap: wrap;
  min-width: 270px;
  padding: 20px;
  background-color: #fff;
}
.sponsor-card img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.sponsor-card h3 {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 20px;
  color: #333;
}
.sponsor-card p {
  color: #767676;
}
.sponsor-list li:not(:first-child) {
  margin-top: 0.8rem;
}
/* aside : end --------------------------------*/

/* footer : start --------------------------------*/
footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 140px;
  border-top: 1px solid #eeeeee;
  background-color: #f9f9f9;
}

.footer-logo {
  width: 160px;
  height: 32px;
  margin-top: 54px;
}

.scroll-up-btn {
  position: absolute;
  right: 108px;
  margin: 42px 0;
  padding: 0;
  border: 1px solid #eeeeee;
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
}
.scroll-up-btn::after {
  content: '';
  position: absolute;
  top: 15px;
  left: calc(50% - 8px / 2);
  width: 8px;
  height: 5px;
  background: url('../image/btn-scroll-top.svg') no-repeat center transparent;
}

.scroll-up-btn span {
  display: block;
  padding: 26px 14px 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
/* footer : end --------------------------------*/

/* 구글 번역 API */
.hd_lang {
  display: none;
  font-size: 14px;
  min-width: 120px;
  height: 40px;
  overflow: hidden;
  border: 1px solid #eeeeee;
  color: #333333;
  background: url('../image/icon-lang.svg') no-repeat 1rem 50% / 2.4rem,
    url('../image/arrow_down.svg') no-repeat calc(100% - 0.8rem) 50% / 1.6rem;
}
.skiptranslate.goog-te-gadget {
  width: calc(100% - 6.4rem);
  height: 100%;
  margin: 0 3rem 0 3.4rem;
}
.hd_lang .goog-te-gadget-simple {
  width: 100%;
  height: 100%;
  border: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.goog-te-gadget-icon,
.goog-te-menu-value img,
.goog-te-menu-value span:not(:first-child) {
  display: none;
}

.goog-te-menu-frame.skiptranslate {
  width: 120px;
}

/* 검색 결과 없음 */
.nodata {
  padding: 12rem 0 6rem;
  text-align: center;
  font-size: 1.8rem;
  color: #767676;
  background: url(../image/nodata.png) no-repeat 50% 2rem / 8rem;
}

/* loading */
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader::after {
  position: absolute;
  content: 'Loading...';
  display: block;
  font-weight: 550;
  color: rgba(0, 0, 0, 0.6);
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
}

.loader .animation-bar {
  display: flex;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.loader .animation-bar span {
  display: block;
  background-color: #93b3d5;
  border-radius: 10px;
  width: 10px;
  height: 20px;
  margin: 0 auto;
}

.loader .animation-bar span:nth-child(1) {
  animation: increase 0.9s 1.1s ease-in-out infinite;
}
.loader .animation-bar span:nth-child(2) {
  animation: increase 0.9s 1.2s ease-in-out infinite;
}
.loader .animation-bar span:nth-child(3) {
  animation: increase 0.9s 1.3s ease-in-out infinite;
}
.loader .animation-bar span:nth-child(4) {
  animation: increase 0.9s 1.4s ease-in-out infinite;
}
.loader .animation-bar span:nth-child(5) {
  animation: increase 0.9s 1.5s ease-in-out infinite;
}

@keyframes increase {
  0% {
    height: 25px;
  }
  50% {
    height: 60px;
    transform: translateY(-40%);
    background-color: #015bbb;
  }
  100% {
    height: 25px;
  }
}
